/* color assignments */
/*variables.less*/
/* screen widths */
.center {
  place-self: center;
  align-items: center;
  place-content: center;
  text-align: center;
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
* {
  box-sizing: border-box;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
  /*margin: 0;*/
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
a {
  outline: none;
}
/*General styles*/
h1,
h2,
h3,
p,
a {
  font-family: "Montserrat", sans-serif;
}
h1 {
  font-size: 2rem;
}
h2 {
  font-size: 1.8rem;
}
h3 {
  font-size: 1.4rem;
}
p {
  font-size: 1.2rem;
}
a {
  font-size: 2em;
}
/*fonts*/
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Montserrat Regular'), local('Montserrat-Regular'), url(https://fonts.gstatic.com/s/montserrat/v14/JTUSjIg1_i6t8kCHKm459Wlhzg.ttf) format('truetype');
}
/* general reset/setup styling for icons - needed on all */
.icon::before {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
}
/* defining the right font-family/font-face for each style */
.icon-solid::before,
.icon-regular::before,
.icon-light::before {
  font-family: "FontAwesome";
}
.icon-brand::before {
  font-family: "Font Awesome 5 Brands";
}
/* defining the right weight for each style */
.icon-solid::before {
  font-weight: 900;
}
.icon-brand::before {
  font-weight: 400;
}
/* defining the right unicode values for each icon */
.icon-award::before {
  content: "\f0a9";
}
.icon::before {
  margin-right: 0.5rem;
}
/* Style the navigation menu */
nav.top-nav {
  overflow: hidden;
  background-color: #5193b3;
  padding: 0 5%;
  margin: 0 auto;
  position: fixed;
  top: 0;
  right: 0%;
  left: 0;
  z-index: 1;
}
nav.top-nav div.nav-container {
  /* Style Logo */
  /* Hide the links inside the navigation menu (except for logo/home) */
  /* Style navigation menu links */
  /* hamburger menu */
  /* Add a grey background color on mouse-over */
}
nav.top-nav div.nav-container img.logo {
  display: inline-block;
  width: 60px;
  height: 60px;
}
nav.top-nav div.nav-container h1 {
  display: inline-block;
  position: absolute;
  color: whitesmoke;
  top: 25%;
}
@media (min-width: 288px) {
  nav.top-nav div.nav-container h1 {
    font-size: 1.7rem;
  }
}
@media (min-width: 314px) {
  nav.top-nav div.nav-container h1 {
    font-size: 1.9rem;
  }
}
@media (min-width: 500px) {
  nav.top-nav div.nav-container h1 {
    font-size: 2rem;
  }
}
nav.top-nav div.nav-container #myLinks {
  display: none;
}
@media (min-width: 980px) {
  nav.top-nav div.nav-container #myLinks {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    position: absolute;
    /*margin-top: -10.5%;*/
    top: -0.3rem;
    right: 0rem;
  }
}
nav.top-nav div.nav-container a {
  color: white;
  padding: 1.4rem 1.6rem;
  text-decoration: none;
  display: block;
}
@media (min-width: 980px) {
  nav.top-nav div.nav-container a a.about-us {
    margin-left: 5%;
  }
}
nav.top-nav div.nav-container a.icon {
  background-color: #5193b3;
  color: whitesmoke;
  display: block;
  position: absolute;
  right: 5%;
  top: 0.9rem;
  padding: 0;
  height: 100%;
}
@media (min-width: 980px) {
  nav.top-nav div.nav-container a.icon {
    display: none;
  }
}
nav.top-nav div.nav-container i.fa.fa-bars {
  font-size: 2rem;
}
footer {
  background: #5193b3;
  color: whitesmoke;
  width: 100%;
  position: relative;
  bottom: 0;
  height: 3rem;
  display: flex;
}
footer p {
  font-size: 1rem;
  place-self: center;
  align-items: center;
  place-content: center;
  text-align: center;
  margin: auto;
}
html body {
  font-size: 62.5%;
}
html body div.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: whitesmoke;
  width: 100%;
  min-width: 0px;
}
html body div.container header {
  background: #5193b3;
  width: 100%;
}
html body div.container header section.call-to-action {
  display: flex;
  flex-direction: column;
  place-self: center;
  align-items: center;
  place-content: center;
  text-align: center;
  width: 100%;
  margin-bottom: 3%;
  margin-top: 5rem;
  color: whitesmoke;
}
html body div.container header section.call-to-action h1 {
  width: 90%;
  font-weight: bold;
  line-height: 1.4em;
  margin-bottom: 2rem;
}
html body div.container header section.call-to-action p {
  font-size: 1rem;
  line-height: 1.5em;
  width: 80%;
  max-width: 30rem;
}
html body div.container header section.call-to-action div.button {
  background: #5193b3;
  width: 60%;
  max-width: 10rem;
  display: flex;
  align-items: center;
  margin: 5%;
  border: 4px solid whitesmoke;
  color: whitesmoke;
}
html body div.container header section.call-to-action div.button a {
  text-align: center;
  font-size: 1.3rem;
  align-self: center;
  justify-self: center;
  margin: auto;
  font-weight: bold;
  padding: 8%;
  color: whitesmoke;
  text-decoration: none;
}
html body div.container header section.call-to-action div.button:hover {
  background: #44b1b0;
}
html body div.container header section.call-to-action img {
  display: none;
  margin-bottom: 5%;
}
@media (min-width: 757px) {
  html body div.container header section.call-to-action img {
    display: flex;
    border: 4.5px solid #98bfd2;
    border-radius: 8px;
  }
}
html body div.container section.features {
  width: auto;
  height: 50%;
  margin: 7% auto;
  display: flex;
  flex-direction: column;
  color: #407791;
}
html body div.container section.features h2 {
  margin-bottom: 5%;
  font-weight: bold;
  text-align: center;
}
html body div.container section.features h3 {
  text-align: center;
  line-height: 2rem;
  margin-bottom: 4%;
}
html body div.container section.features ul {
  max-width: 90%;
  margin: 0  auto;
}
html body div.container section.features li {
  line-height: 2.3rem;
  margin-top: 3%;
}
html body div.container section.lorem-paragraph {
  width: 90%;
  height: 50%;
  margin: 7% auto;
  display: flex;
  flex-direction: column;
  color: #407791;
}
html body div.container section.lorem-paragraph h2 {
  margin-bottom: 5%;
  font-weight: bold;
  text-align: center;
}
html body div.container section.lorem-paragraph h3 {
  text-align: center;
  line-height: 2rem;
  margin-bottom: 4%;
}
html body div.container section.lorem-paragraph ul {
  max-width: 90%;
  margin: 0  auto;
}
html body div.container section.lorem-paragraph li {
  line-height: 2.3rem;
  margin-top: 3%;
}
