/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
* {
  box-sizing: border-box;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/*fonts*/
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Montserrat Regular'), local('Montserrat-Regular'), url(https://fonts.gstatic.com/s/montserrat/v14/JTUSjIg1_i6t8kCHKm459Wlhzg.ttf) format('truetype');
}
/*colors*/
/*General styles*/
h2 {
  font-size: 2.4em;
}
p {
  font-size: 1.3em;
  font-family: "Montserrat", sans-serif;
}
a {
  font-size: 2em;
}
html body {
  font-size: 62.5%;
}
html body div.container {
  border: 1px solid black;
  background: #f7e6ca;
}
html body div.container header nav {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  background: #5193b3;
  padding-bottom: 3%;
}
html body div.container header nav div.left {
  display: flex;
  justify-content: space-between;
}
html body div.container header nav div.left h2 {
  align-self: left ;
}
html body div.container header nav div.right {
  display: flex;
  align-items: flex-end;
  justify-content: right;
  height: 5em;
}
html body div.container header nav div.right a {
  text-decoration: none;
}
html body div.container header section.call-to-action {
  border: 1px solid black;
  background: #64c4c3;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  margin: 20% auto;
  width: 30%;
  height: 20em;
  /*  background-image: url("https://picsum.photos/700/");*/
  background-image: url("../img/snow.jpg");
}
html body div.container header section.call-to-action h2 {
  font-size: 2em;
  margin: 5%  5%;
}
html body div.container header section.call-to-action div.button {
  background: #5193b3;
  color: #f8d49a;
  width: 30%;
  height: 20%;
  display: flex;
  align-items: center;
  margin: auto;
}
html body div.container header section.call-to-action div.button p {
  text-align: center;
  margin: 0 auto;
  font-weight: bold;
}
html body div.container header section.call-to-action div.button:hover {
  background: #f8d49a;
  color: #5193b3;
}
html body div.container section.features {
  border: 1px solid black;
  margin-left: 10%;
  height: 50%;
}
