.navbar {
    height: 0;
    margin-bottom: 0;
}

p {
    line-height: 1.5em;
    text-align: justify;
    color: @blue-txt;
}

img.github-logo {
    width: 3rem;
    height: 3rem;

}


img.Jpic {

    width: 10rem;
    height: 8rem;
    margin: 0 auto;
    margin-left: auto;
    margin-right: auto;

    @media @tablet{
        margin-right: 15rem;
    }

    @media @desktop {

        width: 50rem;
        height: 8rem;

    }

    @media @tablet {

        width: 20rem;

    }
}

img.Spc {
    width: 10rem;
    height: 8rem;
    margin: 0 auto;
    margin-left: auto;
    margin-right: auto;

    @media @tablet{
        margin-right: 10rem;
    }

    @media @desktop {

        width: 50rem;
        height: 8rem;

    }

}

p.spp{
    
}
img.Cpic {
    width: 10rem;
    height: 8rem;
    margin: 0 auto;
    margin-left: auto;
    margin-right: auto;

    @media @tablet {
        margin-right: 15rem;
    }

    

    @media @desktop {

        width: 50rem;
        height: 8rem;

    }

}

img.Lpic {
    width: 10rem;
    height: 8rem;
    margin: 0 auto;
    margin-left: auto;

    @media @tablet {
        margin-right: 15rem;
    }

    @media @desktop {

        width: 50rem;
        height: 8rem;

    }
}

img.Rapic {
    width: 10rem;
    height: 8rem;
    margin: 0 auto;
    margin-left: auto;
    margin-right: auto;

    @media @tablet {
        margin-right: 15rem;
        
    }

    @media @desktop {

        width: 50rem;
        height: 8rem;

    }
}

img.Ropic {
    width: 10rem;
    height: 8rem;
    margin: 0 auto;
    margin-left: auto;
    margin-right: auto;

    @media @desktop {

        width: 50rem;
        height: 8rem;

    }
    @media @tablet{
        margin-right: 15rem;
    }
}

img.Bpic {
    display: flex;
    width: 10rem;
    height: 8rem;
    margin: 0 auto;
    margin-left: auto;
    margin-right: auto;
    @media @desktop {

        width: 50rem;
        height: 8rem;
       

    }

    @media @tablet {

        margin: 0 auto;
        margin-right: 15rem;

    }

    @media @desktop {

        width: 50rem;
        height: 8rem;

    }
}


.navbar-item {
    .center();
}

.everythig {

    margin: 0 auto;
    margin-top: 5rem;
    padding: 0;
    width: 90%;
    flex: 1;

    max-width: 50rem;

    @media @desktop {

        width: 90%;
        margin: 0 auto;
        max-width: 50rem;


    }
}

footer{
    p{
        color: @white;
    }
}