
// Styles

html {
  body {
    font-size: 62.5%;
  
    

    div.container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background: @main-bg;
      width: 100%;
      min-width: 0px;

      header {
        background: @header-bg;
        width: 100%;

      

        section.call-to-action {
          display: flex;
          flex-direction: column;
          .center();
          width: 100%;
          margin-bottom: 5%;
          margin-top: 8rem;
          color: @white-text;

          h1 {
            
            width: 90%;
            font-weight: bold;
            line-height: 1.4em;
            margin-bottom: 10%;
          }
          p {
            font-size: 1rem;
            line-height: 1.5em;
            width: 80%;
          }

          div.button {
            background: @blue;
            width: 60%;
            max-width: 10rem;
            display: flex;
            align-items: center;
            margin: 5%;
            border: 4px solid @white;
            color: @white-text;

            a {
              text-align: center;
              font-size: 1.3rem;
              align-self: center;
              justify-self: center;
              margin: auto;
              font-weight: bold;
              padding: 8%;
              color: @white-text;
              text-decoration: none;
            }
          }

          div.button:hover {
            background: darken(@green, 10%);
          }

          img{
            display: none;
            margin-bottom: 5%;

            @media @tablet{
              display: flex;
              border: 4.5px solid lighten(@blue, 20%);
              border-radius: 8px;
            }
          }
        } // end call to action */
      } // end header

      section.features {
        .section(90%, 50%);
              

      } // end features

      section.one{
        .section(90%, 50%);
      }
      
    } // end container
  }
}
