
div.container{
  display: flex;
  margin: 0;
  padding: 0;
  max-width: 100%;
  
}
header{
  display: flex;
  max-width: 100%;
 

}
.navbar-brand{
  background-color:@blue;

  h1{
    .center();
  }
  img{
  
    background: @white;
    border-radius: 50%;
    z-index: 3;
  }
}

.navbar-menu{
  background-color: @blue;


}

a.navbar-item, a.navbar-link{
  color: @white;
}

div.button{
  width: 9rem;
}

a.button.is-primary{
  background-color: @green;
}

a.button.is-light{
  background-color: @orange;
}

a.button{
  background-color: @blue;
}
a.button:hover{
  background-color: @green;

}

