.navbar-brand {
  background-color: @blue;
}





h1 {
  .center();
}

img {

  background: @white;
  border-radius: 50%;
  z-index: 3;
}




.navbar-menu {
  background-color: @blue;


}







a.button.is-primary {
  background-color: @green;
  color: @blue;

}

a.button.is-primary:hover {
  background-color: @green;
  color: @red;

}

a.button.is-light {
  background-color: @orange;
  color: @blue-txt;

}

a.button {
  background-color: @blue;
}

a.button:hover {
  background-color: @green;

}

div.navbar-end a.home{
  margin: auto;
  color: red;
}

a.about{
 margin: auto;
 color: red;
}