/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
* {
  box-sizing: border-box;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/*fonts*/
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Montserrat Regular'), local('Montserrat-Regular'), url(https://fonts.gstatic.com/s/montserrat/v14/JTUSjIg1_i6t8kCHKm459Wlhzg.ttf) format('truetype');
}
/*colors*/
/*General styles*/
h2 {
  font-size: 2.4rem;
}
p {
  font-size: 2rem;
  font-family: "Montserrat", sans-serif;
}
a {
  font-size: 2em;
}
html body {
  font-size: 62.5%;
}
html body div.container {
  border: 1px solid black;
  background: #f7e6ca;
  /*  section.call-to-action {
          border: 1px solid black;
          background: @green;
          display: flex;
          flex-direction: column;
          align-content: center;
          align-items: center;
          margin: 20% auto;
          width: 30%;
          height: 20em;

            background-image: url("https://picsum.photos/700/");
          background-image: url("../img/snow.jpg");

          h2 {
            font-size: 2em;
            margin: 5% 5%;
          }

          div.button {
            background: @blue;
            color: @orange;
            width: 30%;
            height: 20%;
            display: flex;
            align-items: center;
            margin: auto;

            p {
              text-align: center;
              margin: 0 auto;
              font-weight: bold;
            }
          }

          div.button:hover {
            background: @orange;
            color: @blue;
          }
        } // end call to action */
  /*   section.features {
        border: 1px solid black;
        margin-left: 10%;
        height: 50%;
      } */
}
html body div.container header {
  /* Style the navigation menu */
}
html body div.container header div.topnav {
  overflow: hidden;
  background-color: #5193b3;
  position: relative;
  /* Style Logo */
  /* Hide the links inside the navigation menu (except for logo/home) */
  /* Style navigation menu links */
  /* Style the hamburger menu */
  /* Add a grey background color on mouse-over */
}
html body div.container header div.topnav img.logo {
  display: inline-block;
  width: 60px;
  height: 60px;
}
html body div.container header div.topnav p {
  display: inline-block;
  position: absolute;
  color: whitesmoke;
  font-size: 2rem;
  top: 25%;
}
html body div.container header div.topnav #myLinks {
  display: none;
}
html body div.container header div.topnav a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}
html body div.container header div.topnav a.icon {
  background-color: #5193b3;
  color: whitesmoke;
  border: 3px solid whitesmoke;
  border-radius: 12px;
  padding: -0.2% 2.5% -0.2% 2.5%;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  bottom: 0;
}
html body div.container header div.topnav i.fa.fa-bars {
  font-size: 30px;
}
html body div.container footer {
  background: #5193b3;
}
html body div.container footer p {
  font-size: 1rem;
  text-align: center;
}
