/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

* {
  box-sizing: border-box;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
  /*margin: 0;*/
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*fonts*/
@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");

/*colors*/

@blue: #5193b3;
@green: #64c4c3;
@orange: #f8d49a;
@yellow: #f7e6ca;

@white: whitesmoke;

/*General styles*/
h2 {
  font-size: 1.8rem;
}
h3{
  font-size: 1.4rem;
}
p {
  font-size: 1.2rem;
  font-family: "Montserrat", sans-serif;
}
a {
  font-size: 2em;
}

html {
  body {
    font-size: 62.5%;
    margin: 0;

    div.container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;

      header {
        background: @blue;
        width: 100%;

        /* Style the navigation menu */
        div.topnav {
          overflow: hidden;
          background-color: @blue;
          position: relative;

          /* Style Logo */
          img.logo {
            display: inline-block;
            width: 60px;
            height: 60px;
          }
          p {
            display: inline-block;
            position: absolute;
            color: @white;
            font-size: 2rem;
            top: 25%;
          }
          /* Hide the links inside the navigation menu (except for logo/home) */
          #myLinks {
            display: none;
          }

          /* Style navigation menu links */
          a {
            color: white;
            padding: 14px 16px;
            text-decoration: none;
            font-size: 17px;
            display: block;
          }
          /* Style the hamburger menu */
          a.icon {
            background-color: @blue;
            color: @white;
            border: 3px solid @white;
            border-radius: 12px;
            padding: -0.2% 2.5% -0.2% 2.5%;
            display: block;
            position: absolute;
            right: 0;
            top: 0;
            height: 100%;
            bottom: 0;
          }

          /* Add a grey background color on mouse-over */

          i.fa.fa-bars {
            font-size: 30px;
          }
        }

        section.call-to-action {
          display: flex;
          flex-direction: column;
          justify-items: center;
          align-content: center;
          align-items: center;
          width: 100%;
          margin-bottom: 10%;

          h1 {
            color: @white;
            font-size: 2rem;
            margin: 10% 5% auto;
            width: 90%;
            font-weight: bold;
            line-height: 1.4em;
            padding-bottom: 10%;
          }
          p {
            color: @white;
            font-size: 1rem;
            line-height: 1.5em;
            width: 80%;
          }

          div.button {
            background: @green;
            color: @orange;
            width: 60%;
            height: 50%;
            display: flex;
            align-items: center;
            margin: 10%;

            p {
              text-align: center;
              color: @white;
              margin: 0 auto;
              font-weight: bold;
              padding: 8%;
              margin: 0 auto;
            }
          }

          div.button:hover {
            background: @orange;
            color: @blue;
          }
        } // end call to action */
      } // end header

      section.features {
        width: 90%;
        height: 50%;
        margin:10% 10% auto;
        display: flex;
        flex-direction: column;

        h2{
          margin-bottom: 10%;
          font-weight: bold;

        }
        ul{
          width: 90%;
          align-self: center;
          display: inline-block;

        }
        
        li{
          line-height: 2rem;
          margin: 5% 0;

        }

        /* todo modify this, use code pen here: https://codepen.io/squarerobin/pen/VwwVZWb */
        li::before {    
          font-family: 'FontAwesome';
          content: '\f0a9';
          margin: 0 0 5% 0;
          
          color: @blue;
          -webkit-font-smoothing: antialiased;
        
        }
      }
      /* footer {
        background: @blue;

        p {
          font-size: 1rem;
          text-align: center;
        }
      }*/
    } // end container
  }
}
