
/* color assignments */

@main-bg: @white;
@header-bg: @blue;
@button-accent: @green;
@icon-accent:@green;
@blue-txt:@blue;
@white-text: @white;


/*variables.less*/

@blue: #5193b3;
@green: #64c4c3;
@orange: #f8d49a;
@yellow: #f7e6ca;

@white: whitesmoke;


/* screen widths */
@desktop: ~"(min-width: 980px)";
@tablet: ~"(min-width: 757px)"; 
@mobile: ~"(min-width: 500px)";
@small-mobile: ~"(min-width: 314px)";
@firefox-minimum-width: ~"(min-width: 288px)";
 