html body p {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Montserrat Regular'), local('Montserrat-Regular'), url(https://fonts.gstatic.com/s/montserrat/v14/JTUSjIg1_i6t8kCHKm459Wlhzg.ttf) format('truetype');
  font-size: 1.2rem;
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Montserrat Regular'), local('Montserrat-Regular'), url(https://fonts.gstatic.com/s/montserrat/v14/JTUSjIg1_i6t8kCHKm459Wlhzg.ttf) format('truetype');
}
html,
body {
  height: 100%;
  font-size: 62.5%;
  /*colors*/
}
header {
  display: flex;
  justify-content: center;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Montserrat Regular'), local('Montserrat-Regular'), url(https://fonts.gstatic.com/s/montserrat/v14/JTUSjIg1_i6t8kCHKm459Wlhzg.ttf) format('truetype');
}
h1 {
  font-size: 3rem;
  color: black;
}
nav {
  background-color: #5193b3;
  display: flex;
  align-content: center;
  justify-content: center;
  justify-items: center;
  height: 60px;
}
nav a {
  display: flex;
  padding: 2em;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Montserrat Regular'), local('Montserrat-Regular'), url(https://fonts.gstatic.com/s/montserrat/v14/JTUSjIg1_i6t8kCHKm459Wlhzg.ttf) format('truetype');
  font-size: 1.2rem;
  text-decoration: none;
  color: white;
}
@media (max-width: 501px) {
  nav {
    flex-direction: column;
    height: 200px;
  }
}
@media (max-width: 501px) {
  nav a {
    padding: 0.5em;
    padding-left: 0%;
    font-size: 3em;
    align-items: center;
    justify-items: center;
    justify-content: center;
  }
}
.everythig {
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;
  padding-right: 20%;
  padding-left: 20%;
  padding-top: 5%;
}
.Justin {
  display: flex;
  align-content: center;
  flex-direction: row;
  padding-top: 3%;
  padding-bottom: 3%;
  border: 10px;
  border-style: solid;
  border-color: white;
  border-radius: 2em ;
  padding-left: 5%;
  background: #f7e6ca;
}
.Jpx {
  display: flex;
  align-content: center;
  justify-items: center;
  flex-direction: column;
}
.Jpic {
  height: 150px;
  width: 150px;
  border-radius: 50%;
}
.jpp {
  padding-top: 5%;
  padding-left: 5%;
  padding-right: 5%;
}
@media (max-width: 500px) {
  .Justin {
    flex-direction: column;
  }
}
.jname {
  font-size: 2em;
  font-weight: 200;
}
.githubJ {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.Luis {
  display: flex;
  align-content: center;
  flex-direction: row;
  padding-top: 3%;
  padding-bottom: 3%;
  border: 10px;
  border-style: solid;
  border-color: white;
  border-radius: 2em ;
  padding-left: 5%;
  background: #f7e6ca;
}
.lname {
  font-size: 2em;
  font-weight: 200;
}
.Lpx {
  display: flex;
  align-content: center;
  justify-items: center;
  flex-direction: column;
}
.Lpic {
  height: 150px;
  width: 150px;
  border-radius: 50%;
}
.lpp {
  padding-top: 5%;
  padding-left: 5%;
  padding-right: 5%;
}
@media (max-width: 500px) {
  .Luis {
    flex-direction: column;
  }
}
.githubL {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.Charlie {
  display: flex;
  align-content: center;
  flex-direction: row;
  padding-top: 3%;
  padding-bottom: 3%;
  border: 10px;
  border-style: solid;
  border-color: white;
  border-radius: 2em ;
  padding-left: 5%;
  background: #f7e6ca;
}
@media (max-width: 500px) {
  .Charlie {
    flex-direction: column;
  }
}
.cname {
  font-size: 2em;
  font-weight: 200;
}
.Cpx {
  display: flex;
  align-content: center;
  justify-items: center;
  flex-direction: column;
}
.Cpic {
  height: 150px;
  width: 150px;
  border-radius: 50%;
}
.cpp {
  padding-top: 5%;
  padding-left: 5%;
  padding-right: 5%;
}
.githubC {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.Ray {
  display: flex;
  align-content: center;
  flex-direction: row;
  padding-top: 3%;
  padding-bottom: 3%;
  border: 10px;
  border-style: solid;
  border-color: white;
  border-radius: 2em ;
  padding-left: 5%;
  background: #f7e6ca;
}
@media (max-width: 500px) {
  .Ray {
    flex-direction: column;
  }
}
.raname {
  font-size: 2em;
  font-weight: 200;
}
.Rpx {
  display: flex;
  align-content: center;
  justify-items: center;
  flex-direction: column;
}
.Rapic {
  height: 150px;
  width: 150px;
  border-radius: 50%;
}
.rpp {
  padding-top: 5%;
  padding-left: 5%;
  padding-right: 5%;
}
.githubR {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.Rose {
  display: flex;
  align-content: center;
  flex-direction: row;
  padding-top: 3%;
  padding-bottom: 3%;
  border: 10px;
  border-style: solid;
  border-color: white;
  border-radius: 2em ;
  padding-left: 5%;
  background: #f7e6ca;
}
@media (max-width: 500px) {
  .Rose {
    flex-direction: column;
  }
}
.rname {
  font-size: 2em;
  font-weight: 200;
}
.ropx {
  display: flex;
  align-content: center;
  justify-items: center;
  flex-direction: column;
}
.Ropic {
  height: 150px;
  width: 150px;
  border-radius: 50%;
}
.ropp {
  padding-top: 5%;
  padding-left: 5%;
  padding-right: 5%;
}
.githubRo {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.Sara {
  display: flex;
  align-content: center;
  flex-direction: row;
  padding-top: 3%;
  padding-bottom: 3%;
  border: 10px;
  border-style: solid;
  border-color: white;
  border-radius: 2em ;
  padding-left: 5%;
  background: #f7e6ca;
}
@media (max-width: 500px) {
  .Sara {
    flex-direction: column;
  }
}
.saname {
  font-size: 2em;
  font-weight: 200;
}
.Spx {
  display: flex;
  align-content: center;
  justify-items: center;
  flex-direction: column;
}
.Spc {
  height: 150px;
  width: 150px;
  border-radius: 50%;
}
.spp {
  padding-top: 5%;
  padding-left: 5%;
  padding-right: 5%;
}
.githubS {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.Brian {
  display: flex;
  align-content: center;
  flex-direction: row;
  padding-top: 3%;
  padding-bottom: 3%;
  border: 10px;
  border-style: solid;
  border-color: white;
  border-radius: 2em ;
  padding-left: 5%;
  background: #f7e6ca;
}
@media (max-width: 500px) {
  .Brian {
    flex-direction: column;
  }
}
.bname {
  font-size: 2em;
  font-weight: 200;
}
.Bpx {
  display: flex;
  align-content: center;
  justify-items: center;
  flex-direction: column;
}
.Bpic {
  height: 150px;
  width: 150px;
  border-radius: 50%;
}
.bpp {
  padding-top: 5%;
  padding-left: 5%;
  padding-right: 5%;
}
.githubB {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.footcont {
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  justify-items: center;
  flex-direction: row;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Montserrat Regular'), local('Montserrat-Regular'), url(https://fonts.gstatic.com/s/montserrat/v14/JTUSjIg1_i6t8kCHKm459Wlhzg.ttf) format('truetype');
  font-size: 1rem;
  text-decoration: none;
  padding-top: 20px;
}
.ASDFASF {
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  justify-items: center;
  flex-direction: row;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Montserrat Regular'), local('Montserrat-Regular'), url(https://fonts.gstatic.com/s/montserrat/v14/JTUSjIg1_i6t8kCHKm459Wlhzg.ttf) format('truetype');
  font-size: 1rem;
  text-decoration: none;
  padding: left 50%;
  padding-bottom: 5%;
}
